{% extends "base.html" %}

{% block title %}bookorganizer - Home page{% endblock %}

{% block content %}
<h1 class="display-1">Hello, {% if name %}{{ name }}{% else %}guest{% endif %}!</h1>

<form method="post">
    {{ form.csrf_token }}

    <div class="mb-3">
        {{ form.name.label(class='form-label') }} {{ form.name(class='form-control') }}
    </div>
    {{ form.submit(class='btn btn-primary mb-3') }}
</form>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut bibendum quam, id mollis lorem. Nullam vehicula vel
    ante eu faucibus. Quisque vitae venenatis sem. Duis non diam vitae quam pretium lacinia. In pellentesque tellus vel
    suscipit sagittis. Vivamus sagittis quam in sollicitudin venenatis. Nullam aliquet pretium ullamcorper. Vivamus
    consectetur, eros lacinia mattis congue, arcu lorem porttitor nunc, sed lacinia ex ipsum ut ligula.
</p>
{% endblock %}
