{% extends "base.html" %}

{% block title %}Bookorganizer - {{ book.title }}{% endblock %}

{% block content %}
<!-- Title -->
<h1 class="display-1 mb-3">{{ book.title }}</h1>

<!-- Author -->
{% if book.author %}
<p>
    {{ book.author }}
</p>
{% endif %}

<!-- Description -->
{% if book.description %}
<p>
    {{ book.description }}
</p>
{% endif %}

<!-- Cover -->
{% if book.cover %}
<p>
    <img src="data:image/png;base64,{{ book.cover }}">
</p>
{% endif %}

<!-- Date added -->
<p>
    Date added: {{ moment(book.date_added).format('LLL') }}
</p>

<!-- Date modified -->
<p>
    Date modified: {{ moment(book.date_modified).format('LLL') }}
</p>

<!-- Link to Edit Book page -->
{% if current_user.is_owner(book) %}
<a class="btn btn-primary" href="{{ url_for('main.edit_book', id=book.id) }}">
    Edit book
</a>
{% endif %}

<!-- Link to delete_book function -->
{% if current_user.is_owner(book) %}
<a class="btn btn-danger" href="{{ url_for('main.delete_book', id=book.id) }}">
    Delete book
</a>
{% endif %}
{% endblock %}
