{% extends "base.html" %}

{% block title %}Bookorganizer - Edit Book page{% endblock %}

{% block content %}
<h1 class="display-1 mb-3">Edit Book</h1>

<form class="mb-3" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <!-- Title -->
    <div class="mb-3">
        {{ form.title.label(class='form-label') }} {{ form.title(class='form-control') }}

        {% if form.title.errors %}
        <ul>
            {% for error in form.title.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <!-- Author -->
    <div class="mb-3">
        {{ form.author.label(class='form-label') }} {{ form.author(class='form-control') }}

        {% if form.author.errors %}
        <ul>
            {% for error in form.author.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <!-- Description -->
    <div class="mb-3">
        {{ form.description.label(class='form-label') }} {{ form.description(class='form-control') }}

        {% if form.description.errors %}
        <ul>
            {% for error in form.description.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <!-- Cover -->
    <div class="mb-3">
        {{ form.cover.label(class='form-label') }} ({{ ", ".join(form.allowedCovers) }})
        {{ form.cover(class='form-control') }}

        {% if form.cover.errors %}
        <ul>
            {% for error in form.cover.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <!-- File -->
    <div class="mb-3">
        {{ form.file.label(class='form-label') }} ({{ ", ".join(form.allowedFiles) }})
        {{ form.file(class='form-control') }}

        {% if form.file.errors %}
        <ul>
            {% for error in form.file.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <!-- Submit button -->
    <button class="btn btn-primary" type="submit">
        <i class="bi bi-arrow-right"></i> Save changes
    </button>
</form>
{% endblock %}
