{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Bookorganizer - Home page{% endblock %}

{% block content %}
<!-- Header section -->
<div class="mb-3">
    <h1 class="display-1 mb-3">
        Hello,
        {% if current_user.is_authenticated %}
        {{ current_user.username }}
        {% else %}
        guest
        {% endif %}
    </h1>
</div>

<!-- Books section -->
{% if books %}
<div class="mb-3">
    <!-- Header -->
    <h2 class="mb-3">Recently added books</h2>

    <!-- Search bar -->
    {% include "_search_bar.html" ignore missing %}

    <!-- List -->
    {% include '_books.html' %}
</div>

<!-- Pagination -->
<div class="mb-3">
    {% if search %}{{ macros.pagination_widget(pagination, 'main.index', search=search) }}
    {% else %}{{ macros.pagination_widget(pagination, 'main.index') }}
    {% endif %}
</div>
{% endif %}
{% endblock %}
