{% extends "base.html" %}

{% block title %}Bookorganizer - {{ user.username }}{% endblock %}

{% block content %}
<!-- User information -->
<div class="mb-3">
    <!-- Username -->
    <h1 class="display-1 mb-3">{{ user.username }}</h1>

    <!-- Name and Location -->
    {% if user.name or user.location %}
    <p>
        {% if user.name %}{{ user.name }}{% endif %}
        {% if user.location %}
        <a href="https://maps.google.com/?q={{ user.location }}">
            {{ user.location }}
        </a>
        {% endif %}
    </p>
    {% endif %}

    <!-- Email (if current user is administrator) -->
    {% if current_user.is_administrator() %}
    <p>
        <a href="mailto:{{ user.email }}">
            {{ user.email }}
        </a>
    </p>
    {% endif %}

    <!-- About me -->
    {% if user.about_me %}
    <p>
        {{ user.about_me }}
    </p>
    {% endif %}

    <!-- Registration date and Last seen -->
    <p>
        Registration date: {{ moment(user.member_since).format('L') }}
        Last seen: {{ moment(user.last_seen).fromNow() }}
    </p>

    <!-- Link to Add Book page -->
    {% if user == current_user %}
    <a class="btn btn-success" href="{{ url_for('main.add_book') }}">
        Add book
    </a>
    {% endif %}

    <!-- Link to Edit Profile page -->
    {% if user == current_user %}
    <a class="btn btn-primary" href="{{ url_for('main.edit_profile') }}">
        Edit profile
    </a>
    {% endif %}

    <!-- Link to Edit Profile [Admin] page -->
    {% if current_user.is_administrator() %}
    <a class="btn btn-warning" href="{{ url_for('main.edit_profile_admin', id=user.id) }}">
        Edit profile [Admin]
    </a>
    {% endif %}
</div>

<!-- User's book list -->
{% if books %}
<div class="mb-3">
    <!-- Header -->
    <h2 class="mb-3">Books</h2>

    <!-- Book list -->
    <div class="list-group">
        {% for book in books %}
        <a href="{{ url_for('main.book', id=book.id) }}" class="list-group-item list-group-item-action">
            <div class="row">
                <!-- Cover -->
                {% if book.cover %}
                <div class="col-sm-2 text-center">
                    <img class="mw-100 rounded" src="{{ url_for('static', filename=book.get_cover_file_url()) }}"
                         alt="Cover">
                </div>
                {% endif %}

                <!-- Information -->
                <div class="col-sm">
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="mb-1">{{ book.title }}</h3>
                        <small class="text-muted">{{ moment(book.date_modified).format('LLL') }}</small>
                    </div>
                    <p><em>{{ book.author }}</em></p>
                    <p>{{ book.description }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}
